.posPage2 {
  display: grid;
  grid-template-columns: 0.25fr 2.75fr;
}

.container1 {
  color: white;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 80px 80px 80px;
  background-color: rgba(0, 0, 255, 0.652);
  height: 95vh;
  text-align: center;
}

.container1 > .one {
  grid-column: 1/2;
  grid-row: 1/2;
}

.container1 > .two {
  grid-column: 1/2;
  grid-row: 2/3;
}

.icon {
  margin-top: 15%;
}

.label {
  margin-top: 0;
  margin-bottom: 15%;
}

.container2 {
  grid-column: 2/3;
  display: grid;
  grid-template-rows: 0.25fr 1.5fr 0.25fr;
}

.stack {
  grid-row: 1/2;
}

.spanRow {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  border-bottom: 2px solid rgb(214, 214, 214);
}

.total {
  padding-left: 8%;
}

.date {
  color: rgb(200, 0, 0);
}

.item-dropdown {
  margin: 3% 30%;
  cursor: pointer;
  border: none;
  background-color: black;
  border-radius: 5px;
  color: white;
}

.productHistory {
  padding-left: 8%;
  padding: 2%;
  background-color: rgb(232, 232, 232);
}

.qty {
  grid-column: 2/3;
  padding: 2%;
  background-color: rgb(232, 232, 232);
}

.unit-cost {
  grid-column: 3/5;
  padding: 2%;
  background-color: rgb(232, 232, 232);
}
